<html>
	<head>
		<title>MediSim</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>

    <div class="display">
        <div class="stats_box">
            <div class="town_color" id="town_1_color" > </div>
            <div class="stat_item" id="town_1_pop"></div>
<!--             <div class="stat_item" id="town_1_food">100 Food</div>
            <div class="stat_item" id="town_1_foodDiff">10 FoodDiff</div>
            <div class="stat_item" id="town_1_gold">10 Gold</div>
            <div class="stat_item" id="town_1_agents">10 Agents</div> -->
        </div>
        <div class="stats_box">
            <div class="town_color" id="town_2_color"></div>
            <div class="stat_item" id="town_2_pop"></div>
<!--             <div class="stat_item" id="town_2_food">100 Food</div>
            <div class="stat_item" id="town_2_foodDiff">10 FoodDiff</div>
            <div class="stat_item" id="town_2_gold">10 Gold</div>
            <div class="stat_item" id="town_2_agents">10 Agents</div> -->
        </div>
        <div class="stats_box">
            <div class="town_color" id="town_3_color"></div>
            <div class="stat_item" id="town_3_pop"></div>
<!--             <div class="stat_item" id="town_3_food">100 Food</div>
            <div class="stat_item" id="town_3_foodDiff">10 FoodDiff</div>
            <div class="stat_item" id="town_3_gold">10 Gold</div>
            <div class="stat_item" id="town_3_agents">10 Agents</div> -->
        </div>
        <div class="stats_box">
            <div class="town_color"id="town_4_color"> </div>
            <div class="stat_item" id="town_4_pop"></div>
<!--             <div class="stat_item" id="town_4_food">100 Food</div>
            <div class="stat_item" id="town_4_foodDiff">10 FoodDiff</div>
            <div class="stat_item" id="town_4_gold">10 Gold</div>
            <div class="stat_item" id="town_4_agents">10 Agents</div> -->
        </div>
        <div class="stats_box">
            <div class="town_color"id="town_5_color"> </div>
            <div class="stat_item" id="town_5_pop"></div>
<!--             <div class="stat_item" id="town_5_food">100 Food</div>
            <div class="stat_item" id="town_5_foodDiff">10 FoodDiff</div>
            <div class="stat_item" id="town_5_gold">10 Gold</div>
            <div class="stat_item" id="town_5_agents">10 Agents</div> -->
        </div>
        <div class="stats_box">
            <div class="town_color"id="town_6_color"> </div>
            <div class="stat_item" id="town_6_pop"></div>
<!--             <div class="stat_item" id="town_6_food">100 Food</div>
            <div class="stat_item" id="town_6_foodDiff">10 FoodDiff</div>
            <div class="stat_item" id="town_6_gold">10 Gold</div>
            <div class="stat_item" id="town_6_agents">10 Agents</div> -->
        </div>
        <div class="stats_box">
            <div class="town_color"id="town_7_color"> </div>
            <div class="stat_item" id="town_7_pop"></div>
<!--             <div class="stat_item" id="town_7_food">100 Food</div>
            <div class="stat_item" id="town_7_foodDiff">10 FoodDiff</div>
            <div class="stat_item" id="town_7_gold">10 Gold</div>
            <div class="stat_item" id="town_7_agents">10 Agents</div> -->
        </div>
        <div class="stats_box">
            <div class="town_color" id="town_8_color"> </div>
            <div class="stat_item" id="town_8_pop"></div>
<!--             <div class="stat_item" id="town_8_food">100 Food</div>
            <div class="stat_item" id="town_8_foodDiff">10 FoodDiff</div>
            <div class="stat_item" id="town_8_gold">10 Gold</div>
            <div class="stat_item" id="town_8_agents">10 Agents</div> -->
        </div>

    </div>


	<script src="js/jquery.js"></script>
		<script src="js/three.js"></script>

		<script src="tmp/client.js"></script>
	</body>
</html>
