<html>
	<head>
		<title>MediSim</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>

    <div class="display">
        <div id="town1">

        </div>
    </div>


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/three.js"></script>


		<script src="tmp/client.js"></script>
	</body>
</html>
